.botao-login {
  background-color: #293941;
}

.item-checkbox {
  background-color: transparent;
  border-style: none !important;
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.lembrar-email {
  padding: 1px;
  margin-bottom: 1px;
  margin-top: -30px;
  margin-left: -17px;
}

.item-ios-login {
  background-color: #ffffff; // background-color: #647880;
  color: #000000;
}
