<ion-content padding class="page-travelcorporate">
  <ion-list>
    <img src="assets/images/MarcaTravelCorp_EmBranco.png" class="imagem-logo" />
  </ion-list>

  <div class="div-imagem-login">
    <img [src]="foto" class="imagem-login img-circle img-thumbnail center-block" />
  </div>

  <ion-list>
    <ion-item class="item-ios-login">
      <ion-label class="item-ios-login">
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input class="input-login" clearInput type="email" placeholder="Informe o seu email" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="item-ios-login">
      <ion-label>
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input class="input-login" clearInput type="password" placeholder="Informe sua Senha" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>

  <!-- <ion-list class="lembrar-email">
    <ion-item>
      <ion-label>Lembrar email</ion-label>
      <ion-checkbox [(ngModel)]="lembrarEmail"></ion-checkbox>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <button class="btn btn-default botao-login" ion-button full (click)="entrar()">Entrar</button>
  </ion-list>

  <ion-list>
    <button class="btn btn-default botao-esqueci-senha" ion-button full (click)="esqueciSenha()">Esqueci minha senha</button>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-label class="label-versao-home">
    Versão {{ versao }}
  </ion-label>
</ion-footer>
