<ion-header>
  <ion-navbar>
    <ion-title>Detalhes da Viagem - cont.</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Status</ion-label>
      <ion-input type="text" disabled value="{{viagem.sequencial | padding:'0':6 }} - {{viagem.status}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Objetivo</ion-label>
      <ion-textarea rows="6" [(ngModel)]="viagem.objetivo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Observações</ion-label>
      <ion-textarea rows="6" [(ngModel)]="viagem.observacoes"></ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()" class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-end (click)="avancar()" class="botao-geral">
          Avançar
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
