<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">
  <ion-list no-lines>

    <hr class="linha-branca" />

    <ion-item class="relatorio-viagem-titulo">
      <h1>Relatório de viagem</h1>
    </ion-item>

    <hr class="linha-branca" />

    <ion-item class="relatorio-viagem">
      <span class="relatorio-viagem-texto">
        Saldo Anterior:
      </span>
      <span class="relatorio-viagem-valor">
        {{ viagem?.fechamento?.saldoAnterior | currency:'BRL':true}}
      </span>
    </ion-item>

    <ion-item class="relatorio-viagem">
      <span class="relatorio-viagem-texto">
        Total Débitos:
      </span>
      <span class="relatorio-viagem-valor">
        {{ viagem?.fechamento?.totalDebitos | currency:'BRL':true}}
      </span>
    </ion-item>

    <ion-item class="relatorio-viagem">
      <span class="relatorio-viagem-texto">
        Total Créditos:
      </span>
      <span class="relatorio-viagem-valor">
        {{ viagem?.fechamento?.totalCreditos | currency:'BRL':true}}
      </span>
    </ion-item>

    <ion-item class="relatorio-viagem">
      <span class="relatorio-viagem-texto">
        Saldo Final:
      </span>
      <span class="relatorio-viagem-valor">
        {{ viagem?.fechamento?.saldoFinal | currency:'BRL':true}}
      </span>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()"  class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-start (click)="finalizar()" *ngIf="isPodeEditar()"  class="botao-finalizar">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Finalizar relatório
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
