.relatorio-viagem {
  display: block;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  border: none !important;
  width: 100%;
  .relatorio-viagem-texto {
    width: 50%;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    float: left;
    text-align: left;
  }
  .relatorio-viagem-valor {
    float: right;
    text-align: right;
    display: block;
    width: 50%;
    color: #E3DD4A;
  }
}

.relatorio-viagem-titulo {
  display: block;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  border: none !important;
  width: 100%;
  text-transform: uppercase;
}

.linha-branca {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
