button.tile {
  height: 170px;
  position: relative;
  top: 1px;
  right: 1px;
  overflow: visible!important;
}

.badge {
  background-color: red;
  position: absolute;
  top: 5px;
  right: 5px; // border-radius: 100%;
}

#a-minhas-viagens:hover,
#a-minhas-viagens:link,
#a-minhas-viagens:visited {
  text-decoration: none;
}

#a-minhas-viagens {
  text-decoration: none;
  width: 100%;
}

#a-minhas-viagens div {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
  font-variant: small-caps;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.589);
}

#a-minhas-viagens div span {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.saldo-home {
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  border: none !important;
  .saldo-home-texto {
    text-transform: uppercase;
    color: #ffffff;
  }
  .saldo-home-valor {
    color: #E3DD4A;
  }
}

.item-button-home {
  background-color: transparent;
}

.button-home {
  font-size: 14px;
  display: block;
  height: 50px;
  width: 100%;
  background-color: $background-buttons-travelcorporate;
  color: #ffffff;
  border-radius: 10px;
  text-transform: uppercase;
  .text-button-home {
    position: absolute;
    top: 30px;
    left: 75px;
  }
  .icon-button-home {
    position: absolute;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 25px; // margin-left: -6px;
    left: 15px;
    top: 11px;
    background-color: $background-sec-buttons-travelcorporate;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

ion-spinner * {
  stroke: #ffffff;
  fill: #222;
}

.spinner-home {
  position: absolute;
  right: 10px;
  top: 22px;
}
