<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">
  <ion-spinner class="spinner-home" *ngIf="buscandoDados"></ion-spinner>

  <ion-list no-lines>
    <ion-item class="saldo-home" (click)="buscarMeusDados()">
      <span class="saldo-home-texto">
        Meu Saldo:
      </span>
      <span class="saldo-home-valor">
        {{ meusDados?.saldo | currency:'BRL':true}}
      </span>
    </ion-item>

    <ion-item class="item-button-home">
      <button class="button-home" (click)="prestacaoDeContas()">

        <span class="icon-button-home">
          <ion-icon name="person"></ion-icon>
        </span>

        <span class="text-button-home">
          Solicitações / Prestações de Contas
        </span>

      </button>
    </ion-item>

    <ion-item class="item-button-home">
      <button class="button-home" (click)="aprovacoes()">

        <span class="icon-button-home">
          <ion-icon name="checkmark"></ion-icon>
        </span>

        <span class="text-button-home">
          Aprovações
        </span>

      </button>
    </ion-item>

    <ion-item class="item-button-home">
      <button class="button-home" (click)="cotacoes()">

        <span class="icon-button-home">
          <ion-icon name="logo-usd"></ion-icon>
        </span>

        <span class="text-button-home">
          Cotações
        </span>

      </button>
    </ion-item>

    <ion-item class="item-button-home">
      <button class="button-home" (click)="relatorios()">

        <span class="icon-button-home">
          <ion-icon name="stats"></ion-icon>
        </span>

        <span class="text-button-home">
          Relatórios
        </span>

      </button>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-label class="label-versao-home">
    Versão {{ versao }}
  </ion-label>
</ion-footer>
