<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">
  <ion-list no-lines class="item-transparent list-meus-dados">
    <ion-item class="item-transparent">
      <div class="div-imagem-login" (click)="clickFoto()">
        <img [src]="foto" class="imagem-login img-circle img-thumbnail center-block" />
      </div>
      <!-- <ion-avatar (click)="clickFoto()">
          <img [src]="foto" class="imagem-login img-circle img-thumbnail center-block" />
      </ion-avatar> -->
    </ion-item>

    <ion-item class="item-transparent">
      <ion-label class="label-funcionario">
        <span>
          {{ sessaoUsuario?.funcionario?.nome }}
        </span>
        <span class="label-email">
          {{ sessaoUsuario?.funcionario?.email }}
        </span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="nopadding">
    <ion-item class="item-menu">
      <ion-label stacked>Perfil</ion-label>
      <ion-input disabled value="{{ sessaoUsuario?.funcionario?.perfil?.nome }}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="nopadding">
    <ion-item class="item-menu">
      <ion-label stacked>Telefone</ion-label>
      <ion-input disabled value="{{ sessaoUsuario?.funcionario?.celular }}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="nopadding">
    <ion-item class="item-menu">
      <ion-label stacked>Nova Senha</ion-label>
      <ion-input class="input-login" clearInput type="password" [(ngModel)]="novaSenha" placeholder="Informe sua Nova Senha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="nopadding">
    <ion-item class="item-menu">
      <ion-label stacked>Confirmação Nova Senha</ion-label>
      <ion-input class="input-login" clearInput type="password" [(ngModel)]="confirmacaoNovaSenha" placeholder="Informe a confirmação da Nova Senha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="item-transparent nopadding" no-border>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <button ion-button full (click)="voltar()" class="botao-voltar">Voltar</button>
        </ion-col>
        <ion-col>
          <button ion-button full (click)="alterarSenha()" class="botao-salvar">Salvar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
