
.saldoFinal {
  font-weight: bold;
}

.saldoPositivo {
  color: #00BFFF !important;
  font-weight: bold;
}

.saldoNegativo {
  color: #F5843E !important;
  font-weight: bold;
}

[data-credito]:before {
  content: 'C';
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}

[data-debito]:before {
  content: 'D';
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #8B0000;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}
