<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">

  <ion-list no-lines>
    <ng-template ngFor let-item [ngForOf]="viagem.lancamentos">
      <ion-item-sliding (ionSwipe)="excluirLancamento(item, slidingItem)" #slidingItem no-lines class="item-viagem">
        <button ion-item (click)="detalhesLancamento(item)">

          <h2>{{ item.categoria.nome }} {{ item.recibo?.nomeFornecedor }}</h2>

          <p *ngIf="item.dataInicial && item.dataFinal">{{ getDataTratada( item.dataInicial ) }} à {{ getDataTratada( item.dataFinal ) }}</p>
          <p *ngIf="item.dataInicial && !item.dataFinal">{{ getDataTratada( item.dataInicial ) }}</p>
          <p *ngIf="!item.dataInicial && !item.dataFinal">Período não informado</p>

          <ion-note item-end>
            <p [ngClass]="{'saldoPositivo': item.tipoLancamento == 'Crédito', 'saldoNegativo': item.tipoLancamento == 'Débito'}">{{ item?.valorLancamento | currency:'BRL':true }}</p>
          </ion-note>
        </button>

        <ion-item-options side="right" class="item-swipe">
          <button ion-button icon-start color="danger" (click)="excluirLancamento(item, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>


    </ng-template>
  </ion-list>

  <ion-fab bottom right *ngIf="isPodeEditar()">
    <button ion-fab class="botao-geral">
      <ion-icon name="add"></ion-icon>
    </button>

    <ion-fab-list side="top">

      <button ion-fab (click)="adicionarLancamento()" class="botao-geral">
        <ion-icon name="add"></ion-icon>
      </button>

      <button ion-fab class="botao-geral" (click)="tirarFoto()">
        <ion-icon name="camera"></ion-icon>
      </button>

      <button ion-fab class="botao-geral" (click)="qrCode()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()" class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-end (click)="avancar()" class="botao-geral">
          Avançar
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
