<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">
  <ion-list>
    <!--
    <ion-item>
      <ion-label stacked>Lançamento</ion-label>
      <ion-input [disabled]="true" type="text" disabled value="{{lancamento.sequencial | padding:'0':6 }}"></ion-input>
    </ion-item>
    -->

    <ion-item>
      <ion-label floating>Categoria </ion-label>
      <ion-select multiple="false" [disabled]="!isPodeEditar()" [(ngModel)]="lancamento.categoria.id" okText="Confirmar" cancelText="Cancelar" (ngModelChange)="changeCategoriaModel($event)">
        <ion-option *ngFor="let categoria of categorias" value="{{categoria.id}}">
          ({{ categoria.tipo }}) - {{ categoria.nome }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Tipo de Período</ion-label>
      <ion-select multiple="false" [disabled]="!isPodeEditar()" [(ngModel)]="lancamento.tipoPeriodo" okText="Confirmar" cancelText="Cancelar" interface="popover">
        <ion-option value="Data de Referência">Data de Referência</ion-option>
        <ion-option value="Período">Período</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="lancamento.tipoPeriodo=='Data de Referência'" floating>Data</ion-label>
      <ion-label *ngIf="lancamento.tipoPeriodo=='Período'" floating>Data Inicial</ion-label>
      <ion-datetime max="2030-12-31" [disabled]="!isPodeEditar()" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="lancamento.dataInicialPicker" (ngModelChange)="changeModelDataInicial($event)"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="lancamento.tipoPeriodo=='Período'">
      <ion-label floating>Data Final</ion-label>
      <ion-datetime max="2030-12-31" [disabled]="!isPodeEditar()" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="lancamento.dataFinalPicker" (ngModelChange)="changeModelDataFinal($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input [disabled]="!isPodeEditar()" type="tel" pattern="[0-9]*" [(ngModel)]="lancamento.valorLancamentoString" (keyup)="keyUpValorLancamento()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Observações</ion-label>
      <ion-textarea [disabled]="!isPodeEditar()" rows="3" [(ngModel)]="lancamento.observacoes"></ion-textarea>
    </ion-item>



  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button full ion-button icon-start (click)="recibo()" class="botao-geral">
          <ion-icon name="md-paper"></ion-icon>
          Recibo
        </button>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()" class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>

      <ion-col col-6 *ngIf="isPodeEditar()">
        <button full ion-button icon-start (click)="salvar()" class="botao-geral">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
          Salvar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
