// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app.cameraView,
ion-app.cameraView ion-content {
  background: transparent none !important;
}

.imagem-login {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.div-imagem-login {
  display: block;
  width: 100%;
  text-align: center;
}

.label-funcionario {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.label-email {
  display: block;
  width: 100%;
  font-weight: 100;
}

.page-travelcorporate {
  background-color: #32454E;
}

.toolbar-travelcorporate {
  background-color: #647880;
}

.icon-white {
  color: #ffffff;
}

.item-transparent {
  background-color: transparent !important;
  color: #ffffff;
}

.item-menu {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.list-meus-dados {
  margin-bottom: 0px;
}

.list-ios>.item-block:first-child {
  border-top: none;
}

.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
  border-bottom: none;
}

.nopadding {
  margin-bottom: 5px;
}

.item-ios {
  background-color: #32454E; // background-color: #647880;
  color: #ffffff;
  p {
    color: #ffffff;
  }
}

.item-button-home {
  background-color: #ffffff;
  color: #000000;
}

@font-face {
  font-family: 'Humans';
  src: url('../assets/fonts/humans512bt.ttf') format('truetype'), url('../assets/fonts/humans512bt.woff') format('woff');
}

body,
button,
input,
.label,
.input,
.button-inner,
.text-input,
.datetime-text,
.select-text,
.header {
  font-family: 'Humans' !important;
}

.botao-geral {
  background-color: #6B7D86;
  color: #ffffff;
}

.botao-finalizar {
  background-color: #970008;
  color: #ffffff;
}

.toast-message {
  white-space: pre-line;
}

.label-versao-home {
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.label-versao-menu {
  margin-top: 20px;
  font-weight: bold;
}
