<ion-menu type="overlay" [content]="menuContent">
  <ion-header>
    <ion-toolbar>
      <ion-title class="toolbar-travelcorporate">Opções</ion-title>
    </ion-toolbar>

    <div class="div-imagem-login" (click)="tirarFoto">
      <img [src]="foto" class="imagem-login img-circle img-thumbnail center-block" />
    </div>

    <ion-item class="item-menu">
      <ion-label class="label-funcionario">
        <span>
          {{ sessaoUsuario?.funcionario?.nome }}
        </span>
        <span class="label-email">
          {{ sessaoUsuario?.funcionario?.email }}
        </span>
      </ion-label>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button ion-item *ngFor="let menu of menus" (click)="openPage( menu )" menuClose class="item-menu">
        <ion-icon [name]="menu.icon"></ion-icon>
        {{ menu.title }}
      </button>

      <button menuToggle ion-item (click)="sair()" class="item-menu">
        Sair
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #menuContent [root]="rootPage"></ion-nav>
