<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="crescent" refreshingText="Atualizando..."></ion-refresher-content>
  </ion-refresher>

  <ion-spinner class="spinner-home" *ngIf="buscandoDados"></ion-spinner>

  <ion-list no-lines>
    <ion-item class="saldo-home" (click)="buscarMeusDados()">
      <span class="saldo-home-texto">
        Meu Saldo:
      </span>
      <span class="saldo-home-valor">
        {{ meusDados?.saldo | currency:'BRL':true}}
      </span>
    </ion-item>

    <ng-template ngFor let-item let-i="index" [ngForOf]="dados.lista">

      <ion-item-sliding (ionSwipe)="excluir(item, i, slidingItem)" #slidingItem no-lines class="item-viagem">

        <button ion-item (click)="detalhesViagem(item, slidingItem)">
          <h2>
            {{ item.sequencial | padding:'0':6 }} - {{ item.descricao }}
          </h2>

          <p *ngIf="item.dataIda || item.dataVolta">{{ getDataTratada( item.dataIda ) }} à {{ getDataTratada( item.dataVolta ) }}</p>
          <p *ngIf="!item.dataIda && !item.dataVolta">Período não informado</p>
          <p [ngClass]="{'saldoPositivo': item?.fechamento?.saldoFinal >= 0, 'saldoNegativo': item?.fechamento?.saldoFinal < 0}">{{ item?.fechamento?.saldoFinal | currency:'BRL':true}}</p>

          <p class="label-status">
            <span>
                STATUS:
            </span>
            <span class="label-status-{{ item.statusValue }}">
                {{item.status}}
            </span>
          </p>
        </button>

        <ion-item-options side="right" class="item-swipe">
          <button ion-button color="secondary" (click)="detalhesViagem(item, slidingItem)">
            <ion-icon name="menu"></ion-icon>
            Detalhes
          </button>
          <button ion-button (click)="lancamentosViagem(item, slidingItem)">
            <ion-icon name="logo-usd"></ion-icon>
            Lançamentos
          </button>
          <button ion-button icon-start color="danger" (click)="excluir(item, i, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>

        <ion-item-options side="left" class="item-swipe">
          <span>
            {{ item.sequencial | padding:'0':6 }} - {{ item.descricao }}
          </span>
        </ion-item-options>
      </ion-item-sliding>
      <hr/>

    </ng-template>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionarViagem()" class="botao-geral">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
