.saldoFinal {
  font-weight: bold;
}

.saldoPositivo {
  color: #00BFFF !important;
  font-weight: bold;
}

.saldoNegativo {
  color: #F5843E !important;
  font-weight: bold;
}

.item-viagem {
  color: #ffffff !important;

  .item-swipe {
    background-color: $background-sec-buttons-travelcorporate !important;

    span {
      margin-left: 10px;
      margin-top: 10px;
    }
    button {
      background-color: $background-sec-buttons-travelcorporate !important;
    }
  }
  button {
    background-color: $background-buttons-travelcorporate !important;
    color: #ffffff;
  }
}

.label-status {
  font-weight: bold;
}

/* Solicitada */
.label-status-1 {
  color: #00BFFF;
}

/* Planejamento */
.label-status-2 {
  color: #00BFFF;
}

/* Viagem aprovada */
.label-status-3 {
  color: #00BFFF;
}

/* Em Andamento */
.label-status-4 {
  color: #00BFFF;
}

/* Finalizado */
.label-status-5 {
  color: rgb(32, 182, 65);
}

/* Relatório em análise */
.label-status-6 {
  color: rgb(156, 81, 11);
}

/* Relatório aprovado */
.label-status-7 {
  color:#A4D052;
}


/* Relatório rejeitado */
.label-status-8 {
  color: #F5843E;
}


[data-aprovado]:before {
  content: 'A';
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #006400;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}

[data-rejeitado]:before {
  content: 'R';
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #8B0000;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}

[data-em-andamento]:before {
  content: 'N';
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #9ACD32;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}
