<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">

  <ion-list>
    <ion-item>
      <ion-label>Escolha um avatar:</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let avatar of avatars">
        <img src="{{avatar}}" class="button-avatar" (click)="clickAvatar(avatar)"/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
