page-sobre {
  h1 {
    text-align: center;
    color: #ffffff;
  }
  p {
    text-align: justify;
    color: #ffffff;
  }
  p.valores {
    text-align: center;
    color: #ffffff;
  }
  a,
  a:visited {
    font-weight: bold;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
  }
}
