<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">

  <div>

    <h1>SOBRE</h1>

    <p>
      Somos a solução para o seu gerenciamento de viagens corporativas, oferecendo redução de custos e aumento de produtividade.
    </p>
    <p>
      Nascemos pela soma de know-how de pessoas que vivenciam o turismo por formação e por pratica. Somando isso ao Ideação - Programa de aceleração do Governo de Mato Grosso e com o Sebrae, nasceu a Travel Corporate. Uma empresa totalmente inovadora e tecnológica que proporciona o total gerenciamento das
      viagens corporativas, dá solicitação de viagens a prestação de constas. Fazendo do que antes era chato e trabalhoso por uma experiência simples e pratica com excelentes resultados.
    </p>

    <h1>VISÃO</h1>
    <p>Ser a solução com melhor custo benefício do Brasil até 2020, para medias e grandes empresas.
    </p>

    <h1>MISSÃO</h1>
    <p>Oferecer uma plataforma completa para o gerenciamento de viagens de forma + simples e pratica.</p>

    <h1>VALORES</h1>

    <p class="valores">Compromisso com nossos clientes</p>
    <p class="valores">Ética e transparência</p>
    <p class="valores">Orientação a resultado</p>
    <p class="valores">Integridade</p>
    <p class="valores">Simplicidade</p>

    <a href="http://travelcorporate.com.br" target="_blank">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </a>

  </div>

</ion-content>
