<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">
  <ion-list>
    <ion-item>
      <ion-label floating>Data do recibo </ion-label>
      <ion-datetime max="2030-12-31" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="lancamento.recibo.dataReferenciaPicker" (ngModelChange)="changeModelDataReferencia($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input type="tel" pattern="[0-9]*" [(ngModel)]="lancamento.recibo.valorString" (keyup)="keyUpValor()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Número do recibo</ion-label>
      <ion-input [(ngModel)]="lancamento.recibo.numeroDocumento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nome do fornecedor</ion-label>
      <ion-input [(ngModel)]="lancamento.recibo.nomeFornecedor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Cpf / Cnpj do fornecedor</ion-label>
      <ion-input [(ngModel)]="lancamento.recibo.cpfCnpjFornecedor"></ion-input>
    </ion-item>

    <ion-item *ngIf="lancamento.recibo.fotoAnexoRecibo">
      <ion-card>
        <ion-card-content>
          <img src="{{ lancamento.recibo.fotoAnexoRecibo }}" />
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item *ngIf="lancamento.recibo.fotoAnexoRecibo">
      <button full ion-button icon-start (click)="limparFoto()" color="danger">
        <ion-icon name="md-trash"></ion-icon>
        Limpar foto
      </button>
    </ion-item>

    <ion-item>
      <ion-label floating>Chave da NF-e</ion-label>
      <ion-input [(ngModel)]="lancamento.recibo.urlNfe" disabled="true"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button full ion-button icon-start (click)="tirarFoto()" class="botao-geral">
          <ion-icon name="camera"></ion-icon>
          Foto
        </button>
      </ion-col>

      <ion-col col-6>
        <button full ion-button icon-start (click)="escanearQrCode()" class="botao-geral">
          <ion-icon name="qr-scanner"></ion-icon>
          Ler QR Code
        </button>
      </ion-col>

      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()" class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>

      <ion-col col-6>
        <button full ion-button icon-start (click)="salvar()" class="botao-geral">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
          Salvar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
