<ion-header>
  <ion-navbar>
    <ion-title>Detalhes da Viagem</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>Sequencial</ion-label>
      <ion-input type="text" disabled value="{{viagem.sequencial | padding:'0':6 }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Status</ion-label>
      <ion-input type="text" disabled value="{{viagem.status}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição da viagem</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Data Ida {{ viagem.dataIdaPicker }} / {{ viagem.dataIda }}</ion-label>
      <ion-datetime max="2030-12-31" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="viagem.dataIdaPicker" (ngModelChange)="changeModelDataIda($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Data Volta</ion-label>
      <ion-datetime max="2030-12-31" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="viagem.dataVoltaPicker" (ngModelChange)="changeModelDataVolta($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Objetivo</ion-label>
      <ion-textarea rows="4" [(ngModel)]="viagem.objetivo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Observações</ion-label>
      <ion-textarea rows="4" [(ngModel)]="viagem.observacoes"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Cliente </ion-label>
      <ion-select multiple="false" [(ngModel)]="viagem.cliente.id" okText="Confirmar" cancelText="Cancelar">
        <ion-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{ cliente.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Projeto </ion-label>
      <ion-select multiple="false" [(ngModel)]="viagem.projeto.id" okText="Confirmar" cancelText="Cancelar">
        <ion-option *ngFor="let projeto of projetos" value="{{projeto.id}}">{{ projeto.nome }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-end>
          Avançar
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
