<ion-header>
  <ion-navbar #menuContent>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-white"></ion-icon>
    </button>

    <ion-title class="toolbar-travelcorporate">
      <img src="assets/images/MarcaTravelCorp_EmBranco.png" />
    </ion-title>

    <ion-buttons end>
      <span>
        <ion-icon *ngIf="!internet.isActive()" name="warning" class="icon-white"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-travelcorporate">

  <ion-list>
    <ion-item class="item-travelcorporate">
      <ion-label stacked>Descrição da viagem</ion-label>
      <ion-input [disabled]="!isPodeEditar()" type="text" [(ngModel)]="viagem.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data Ida</ion-label>
      <ion-datetime max="2030-12-31" [disabled]="!isPodeEditar()" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="viagem.dataIdaPicker" (ngModelChange)="changeModelDataIda($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Data Volta</ion-label>
      <ion-datetime max="2030-12-31" [disabled]="!isPodeEditar()" cancelText="Cancelar" doneText="Confirmar" displayFormat="DD/MM/YYYY" [(ngModel)]="viagem.dataVoltaPicker" (ngModelChange)="changeModelDataVolta($event)"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select multiple="false" [disabled]="!isPodeEditar()" [(ngModel)]="viagem.cliente.id" okText="Confirmar" cancelText="Cancelar">
        <ion-option value="-1">Nenhum</ion-option>
        <ion-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{ cliente.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Projeto</ion-label>
      <ion-select multiple="false" [disabled]="!isPodeEditar()" [(ngModel)]="viagem.projeto.id" okText="Confirmar" cancelText="Cancelar">
        <ion-option value="-1">Nenhum</ion-option>
        <ion-option *ngFor="let projeto of projetos" value="{{projeto.id}}">{{ projeto.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Objetivo</ion-label>
      <ion-textarea [disabled]="!isPodeEditar()" rows="3" [(ngModel)]="viagem.objetivo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Observações</ion-label>
      <ion-textarea [disabled]="!isPodeEditar()" rows="3" [(ngModel)]="viagem.observacoes"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab class="botao-geral">
      <ion-icon name="camera"></ion-icon>
    </button>

    <ion-fab-list side="top">
      <button ion-fab class="botao-geral" (click)="tirarFoto()">
        <ion-icon name="camera"></ion-icon>
      </button>

      <button ion-fab class="botao-geral" (click)="qrCode()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button full ion-button icon-start (click)="voltar()" class="botao-geral">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
          Voltar
        </button>
      </ion-col>
      <ion-col col-6>
        <button full ion-button icon-end (click)="avancar()" class="botao-geral">
          Avançar
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
